<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Avatar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <base href="../">
    <link rel="stylesheet" href="assets/css/build/main.css">
    
</head>
<body>
    <div id="header" class="header" data-open>
        <div class="header__logo">
            <a href="index.html">
                <svg width="110" height="32" viewBox="0 0 110 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect y="1" width="30" height="30" fill="#212429"/>
                    <rect x="38" width="32" height="32" rx="16" fill="#212429"/>
                    <path d="M78 0L110 32H78V0Z" fill="#212429"/>
                </svg>
            </a>
        </div>
        <div id="burger-menu-open" class="header__burger-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 12H21" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3 6H21" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3 18H21" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
    <div id="main" class="main component" data-open>
        <div class="component__header">
            Avatar
        </div>
        <div class="component__preview">
            <div class="avatar">
                <img class="avatar__img" src="06-lection4/01-avatar/public/avatar-200.jpg">
            </div>
        </div>


        <div class="component__code-container">
            <div class="component__code-tabs">
                <div class="component__code-tab component__code-tab_html" active>Html</div>
                <div class="component__code-tab component__code-tab_css">Scss</div>
                <br>
                <!-- html -->
                <div class="component__code-example-html">
                    <pre class="prettyprint">
<xmp>
<div class="avatar">
    <img class="avatar__img" src="06-lection4/01-avatar/public/avatar-200.jpg">
</div>
</xmp>
                    </pre>
                </div>
                <!-- css -->
                <div class="component__code-example-css">
                    <pre class="prettyprint">
<xmp>
.avatar{
    width: 102px;
    height: 102px;
    border-radius: 50%;
    overflow: hidden;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}    
</xmp>
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="footer template-footer" data-open>Reusable component library</div>
    <!-- include component -->
    //= ../../09-lection7/01-burger-menu/menu.html
    <!-- end include component -->
</body>
<script src="assets/js/index.js"></script> 
</html>
