<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Component</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

    <link rel="stylesheet" href="../assets/css/build/main.css">
    
</head>
<body>
    <div class="header">
        <div class="header__logo">
            <svg width="110" height="32" viewBox="0 0 110 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="1" width="30" height="30" fill="#212429"/>
                <rect x="38" width="32" height="32" rx="16" fill="#212429"/>
                <path d="M78 0L110 32H78V0Z" fill="#212429"/>
            </svg>
        </div>
        <div class="header__burger-button">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 12H21" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3 6H21" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M3 18H21" stroke="#495057" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </div>
    <div class="component">
        <div class="component__header">
            Histogram
        </div>
        <div class="component__preview">
            //= ../../04-lection2/01-histogram/histogram.html
        </div>


        <div class="component__code-container">
            <div class="component__code-tabs">
                <div class="component__code-tab component__code-tab_html" active>Html</div>
                <div class="component__code-tab component__code-tab_css">Css</div>
                <br>
                <!-- html -->
                <div class="component__code-example-html">
                    <pre class="prettyprint">
<xmp>
<div class="component__code-tabs">
    <div class="component__code-tab" active>Html</div>
    <div class="component__code-tab">Css</div>
</div>
</xmp>
                    </pre>
                </div>
                <!-- css -->
                <div class="component__code-example-css">
                    <pre class="prettyprint">
<xmp>
<div class="component__code-tabs">
    <div class="component__code-tab" active>Html</div>
    <div class="component__code-tab">Css</div>
</div>
</xmp>
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <div class="template-footer">Reusable component library</div>
</body>
<script src="../assets/js/index.js"></script> 
</html>
