<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <base href="../">
    <link rel="stylesheet" href="assets/css/build/main.css">
</head>
<body>
    <div class="template">
        <div id="header" class="header template__header">
            <div class="header__logo">
                //= ../../components/logo/logo.html
            </div>
            <div id="burger-menu-open" class="header__burger-button">
                //= ../../components/burger-button/burger-button.html

            </div>
            <div class="header__mode-toggler menu__mode-toggler">
                //= ../../components/mode-toggler/mode-toggler.html
            </div> 
        </div>
        <div id="main" class="main template__main component">
            <div class="component__header">
                Modal
            </div>
            <div class="component__preview">
                <button id="modal-open" class="button button_primary modal__open-button">
                    <span class="button__text">Push the tempo</span>
                </button> 
            </div>
    
            <div class="component__code-container">
                <div class="component__code-tabs">
                    <div class="component__code-tab component__code-tab_html" active>Html</div>
                    <div class="component__code-tab component__code-tab_css">Scss</div>
                    <br>
                    <!-- html -->
                    <div class="component__code-example-html">
                        <pre class="prettyprint">
    <xmp>
    <button id="modal-open" class="button button_primary modal__open-button">
        <span class="button__text">Push the tempo</span>
    </button>
         
    <div id="modal" class="modal">
        <div class="modal__container">
            <div id="modal-close" class="modal__close-button">
                <div class="modal__close-mark"></div>
            </div>
            <div class="modal__header">Modal header</div>
            <div class="modal__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente,quodtotamnumquam doloremque iusto, voluptates obcaecati, velit animi vitae blanditiis tempora. Doloremquefugit.Fuga ipsa excepturi odio similique possimus voluptates.</div>
        </div>
    </div>  
    </xmp>
                        </pre>
                    </div>
                    <!-- css -->
                    <div class="component__code-example-css">
                        <pre class="prettyprint">
    <xmp>
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: auto;
        background-color: var(--modal-bg-color);
    
        &__open-button {
            width: 200px;
            height: 50px;
        }
    
        &__close-button {
            position: absolute;
            width: 30px;
            height: 30px;
            right: 10px;
            top: 10px;
        }
    
        &__close-button:hover {
            cursor: pointer;
        }
    
        &__container {
            width: 80%;
            height: 50%;
            margin: 10% auto;
            background-color: var(--modal-container-color);
            position: relative;
            border-radius: 15px;
            padding: 30px;
            box-sizing: border-box;
        }
        
        &__close-mark{
            position: absolute;
            width: 100%;
            height: 10%;
            top: 48%;
            background-color: black;
            transform: rotate(45deg);
        }
        
        &__close-mark::after{
            content: '';
            position: absolute;
            height: 30px;
            width: 3px;
            left: 47%;
            top: -14px;
            background-color: black;
        }
        
        &__header {
            height: 80px;
            align-self: center;
            font-size: var(--modal-font-size);
            font-weight: var(--modal-font-weight);
        }
    }
    </xmp>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="footer template__footer">Reusable component library</div>
    </div>

    <div class="side-menu">
        <!-- include component -->
        //= ../../09-lection7/01-burger-menu/menu.html
        <!-- end include component -->
    </div>
    
    <!-- include component -->
    //= ../../05-lection3/02-modal/modal.html
    <!-- end include component -->
</body>
<script src="assets/js/index.js"></script> 
</html>
