.header {
	position: relative;
	padding-left: 16px;
	padding-top: 16px;

	@media (min-width: 768px) {
		padding-left: 165px;
		padding-right: 165px;		
	}

	&__top {
		display: flex;
		justify-content: space-between;
		padding-bottom: 24px;
	}

	&__toggler {
		display: flex;
		align-items: center;

		.toggler {
			margin: 0;
			padding-left: 14px;
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	&__logo {
		width: 110px;
		margin: auto;

		@media (min-width: 768px) {
			margin: initial;
		}
	}

	&__text {
		padding: 0px 71px 32px 0px;
		font-weight: 400; 
		font-size: 28px;
		line-height: 38px;
		color: #495057;

		@media (min-width: 768px) {
			font-weight: 500; 
			font-size: 50px;
			line-height: 64px;
		}
	}

	&__menu {
		font-size: 16px;
		line-height: 24px;
		color: #ACB5BD;
		overflow-x: auto;
		display: flex;
		flex-wrap: nowrap;

		&-item {
			padding-bottom: 8px;
			margin-bottom: 7px;			
			margin-right: 24px;
			box-sizing: border-box;
			flex-shrink: 0;
			flex-grow: 0;
			cursor: pointer; 
		}

		&-item[active] {
			color: #212429;
			border-bottom: 5px solid #212429;
		}
	}

	&__burger-button {
		height: 24px;
		width: 24px;
		position: absolute;
    	top: 20px;
		left: 16px;

		@media (min-width: 768px) {
			display: none;
		}
	}

	&[data-open] {
		display: none;
	}
}
