.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 68px 165px;
}

.header__text {
    font-weight: 500; 
    font-size: 50px;
    line-height: 64px;
}
