div {
    margin: 10px;
}

/* Стилизация кнопки */
.button {
    width: 182px;
    height: 48px;
    border-radius: 8px;
    outline: none;
    padding: auto;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button__text {
    font-size: 16px;
    font-weight: 500;
}

.button:active:hover {
    opacity: 80%;
}

.button:hover {
    cursor: pointer;
}

.button:disabled,
.button:disabled:hover {
    opacity: 50%;
    cursor: not-allowed;
}

/* Стилизация кнопки primary*/

.button_primary {
    background-color: #4263EB;
    border: none;
    color: #fff;
}

.button_primary:hover:not(:disabled) {
    background-color: #2342C0;
}

/* Стилизация кнопки secondary*/

.button_secondary {
    background-color: #7048E8;
    border: none;
    color: #fff;
}

.button_secondary:hover:not(:disabled) {
    background-color: #5028C6;
}

/* Стилизация кнопки alternate*/

.button_alternate {
    background-color: #fff;
    border: 1px solid #ACB5BD;
    color: #495057;
}

.button_alternate:hover:not(:disabled) {
    border: 1px solid #212429;
}
