.toggler {
    margin: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &__control {
        height: 1px;
        width: 1px;
        opacity: 0;
        pointer-events: none;
        position: absolute;

        &:focus ~ .toggler__legend{
            text-decoration: underline;
        }

        &:checked {
            & ~ .toggler {
                &__state {
                    border: 1px solid var(--toggler-active-color);

                    & .toggler__flag {
                        transform: translate(0%, -50%);
                        background-color: var(--toggler-active-color);
                    }
                }
            }
        }
        
        &[disabled] {
            & ~ .toggler {
                &__state {
                    cursor: not-allowed;
                    background-color: var(--toggler-disable-color);
    
                    & .toggler__flag {
                        background-color: var(--toggler-flag-color);
                    }
                }
    
                &__legend {
                    cursor: not-allowed;
                    color: var(--toggler-disable-color);
                }
            }
        }
    }

    &__state {
        height: 28px;
        width: 52px;
        border: 1px solid var(--toggler-disable-color);
        border-radius: 14px;
        position: relative;
    }

    &__flag {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -50%);
        transition: transform 0.3s ease-in-out;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: var(--toggler-disable-color);
    }

    &__legend {
        padding: 0 0 0 13px;
    }
}

