body {
    margin: 0;
}

header {
    background-color: #fc1010;
    text-align: center;
}

nav {
    background-color: #ff7b00;
    text-align: center;
}

nav > h1 > span {
    text-decoration: underline;
}

main {
    background-color: #91ff14;
    padding: 5px 15px;
}

footer {
    margin: 0;
    background-color: #c40093;
    text-align: center;
}

article {
    background-color: #3200e6;
}

nav > h1, footer > h1 {
    margin: 0;
}