body {
    margin: 0;
}

header {
    background-color: #fc1010;
    text-align: center;
}

nav {
    background-color: #ff7b00;
    text-align: center;
    margin: 0;
    padding: 20px 15px;
}

nav a {
    font-weight: 600;
    font-size: 20px;
}

main {
    background-color: #91ff14;
    padding: 20px 15px;
}

footer {
    margin: 0;
    background-color: #c40093;
    text-align: center;
}

article {
    background-color: #3200e6;
    padding: 10px 15px;
    margin: 5px;
}