.histogram {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ACB5BD;
    padding: 16px 24px 24px;
    box-sizing: border-box;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.histogram__name {
    padding-bottom: 6px;
}

.histogram__number {
    font-size: 20px;
    line-height: 28px;
}

.histogram__button {
    text-decoration: none;
}

.histogram__columns-block {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.histogram__column {
    background-color: #4263EB;
    flex-grow: 1;
    margin: 1px;
}


