.component {
    padding-top: 16px;

    &__header {
        font-size: 20px;
        line-height: 26px;
        color: #495057;
        padding: 16px;
    }

    &__preview {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 52px;
    }

    &__code-tabs {
        padding: 16px;
        display: flex;
        border-top: 1px solid grey;
        position: relative;
    }

    &__code-example-html,
    &__code-example-css {
        overflow-x: auto;
    }

    &__code-tab {
        position: absolute;
        top: -29px;
    }

    &__code-tab_html {
        left: 16px;
    }

    &__code-tab_css {
        left: 66px;
    }

    &__code-tabs div {
        margin-right: 24px;
        // font-size: 16px;
        // line-height: 24px;
        font-size: 14px;
        line-height: 20px;
        color: #ACB5BD;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__code-tab_html[active] ~ .component__code-example-css,
    &__code-tab_css[active] ~ .component__code-example-html {
        display: none;
    }

    &__code-tabs div[active] {
        color: #212429;
        border-bottom: 5px solid #212429;
    }

}

pre.prettyprint {
    border: none;
    text-transform: lowercase;
}

.template {

    @media (min-width: 768px) {
        padding-left: 30%;
        background-color: #f9fafc;

        &__header.header{
            height: 68px;
            padding-top: 0;
            padding-right: 16px;
            display: flex;
            justify-content: flex-end;

            .header__logo {
                display: none;
            }

            .header__mode-toggler {
                display: flex;
            }
        }

        &__footer, 
        &__main {
            background-color: #fff;
        }
    }

    &__header .header__mode-toggler{
        display: none;

        // &__mode-toggler {
        //     display: none;
        // }
    }


    &__footer {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        text-transform: uppercase;
        color: #ACB5BD;
        text-align: center;
        padding: 25px 0;
    }    
}

.side-menu {

    @media (min-width: 768px) {
        background-color: #f9fafc;

        .menu{
            left: 0;
            width: 30%;
    
            &__mode-block {
                display: none;
            }
    
            &__content {
                text-align: center;
                background-color: #f9fafc;
            }
    
            &__filter-item {
                text-decoration: none;
            }
    
            &__header-logo {
                margin: auto;
            }
    
            &__filter-block {
                border: none;
            }
        }
    }
}
