.component {
    padding-top: 16px;

    &__header {
        font-size: 20px;
        line-height: 26px;
        color: #495057;
        padding: 16px;
    }

    &__preview {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 52px;
    }

    &__code-tabs {
        padding: 16px;
        display: flex;
        border-top: 1px solid grey;
        position: relative;
    }

    &__code-example-html,
    &__code-example-css {
        overflow-x: auto;
    }

    &__code-tab {
        position: absolute;
        top: -29px;
    }

    &__code-tab_html {
        left: 16px;
    }

    &__code-tab_css {
        left: 66px;
    }

    &__code-tabs div {
        margin-right: 24px;
        // font-size: 16px;
        // line-height: 24px;
        font-size: 14px;
        line-height: 20px;
        color: #ACB5BD;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__code-tab_html[active] ~ .component__code-example-css,
    &__code-tab_css[active] ~ .component__code-example-html {
        display: none;
    }

    &__code-tabs div[active] {
        color: #212429;
        border-bottom: 5px solid #212429;
    }

}

pre.prettyprint {
    border: none;
}

.template-footer {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ACB5BD;
    text-align: center;
    padding: 56px 0 56px 0;
}
