.radiobutton {
    display: flex;
    align-items: center;
    margin: 30px;
    cursor: pointer;
}

.radiobutton__input {
    height: 1px;
    width: 1px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.radiobutton__input:focus ~ .radiobutton__text{
    text-decoration: underline;
}

.radiobutton__state {
    position: relative;
    height: 28px;
    width: 28px;
    border: 2px solid grey;
    box-sizing: border-box;
    border-radius: 50%;
}

.radiobutton__text {
    padding: 0 0 0 12px;
    font-size: 16px;
}

.radiobutton__dot {
    display: none;
    position: absolute;
    transform-origin: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 18px;
    width: 18px;
    background-color: blue;
    border-radius: 50%;
    box-sizing: border-box;
}

.radiobutton__input:checked ~ .radiobutton__state {
    border: 2px solid blue;
}

.radiobutton__input:checked ~ .radiobutton__state .radiobutton__dot {
    display: block;
}

.radiobutton__input[disabled] ~ .radiobutton__state {
    cursor: not-allowed;
    background-color: grey;
}
.radiobutton__input[disabled] ~ .radiobutton__text {
    cursor: not-allowed;
    color: grey;
}


