.calendar {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 20% 10% 1fr;
    box-sizing: border-box;
    // border: 1px solid darkgray;
    // padding: 5%;

    &__header {
        text-align: center;
        font-weight: var(--calendar-header-font-weight);
        margin: auto;
        font-size: var(--calendar-header-font-size);
        line-height: var(--calendar-header-line-height);
    }
    
    &__day {
        // padding: 6px;
        // font-size: 15px;
        // height: 18px;
        // width: 18px;
        font-size: var(--calendar-day-font-size);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__day_active {
        background-color: var(--calendar-day-active-bg);
    }
    
    &__day_active-last ,
    &__day_active-first{
        background-color: var(--calendar-day-active-fl-bg);
        color: var(--calendar-day-active-fl-color);
    }
    
    &__week {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: center;
        justify-items: center;
        // grid-column-gap: 10px;
        // font-size: 12px;

        grid-column-gap: 4px;
        font-size: var(--calendar-week-font-size);
    }
    
    &__month {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
    }
    
}
