.skeleton {
    width: 100%;    
    padding: 24px 24px 32px 24px;
    border-radius: 8px;
    border: 1px solid #ACB5BD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skeleton__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
}

.skeleton__logo {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: #DDE2E5;
}

.skeleton__title {
    flex-grow: 1;
    padding-left: 16px;
}

.skeleton__row {
    background: linear-gradient(0.25turn, #DDE2E5, #E2E6E8, #F3F5F5,#E3E7EA,#DDE2E5);
    height: 20px;
    margin-bottom: 8px;
}

.skeleton__row:last-child {
    margin-bottom: 0;
}

.skeleton__row_width_33 {
    width: 33.3%;
}

.skeleton__row_width_50 {
    width: 50%;
}