.checkbox {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin: 30px;

    &__control {
        width: 1px;
        height: 1px;
        pointer-events: none;
        opacity: 0;
        position: absolute;

        &:checked ~ .checkbox__state {
            background-color: blue;
        }

        &:checked ~ .checkbox__state .checkbox__icon{
            display: block;
        }

        &:focus ~ .checkbox__legend{
            text-decoration: underline;
        }

        &[disabled] ~ .checkbox__state {
            cursor: not-allowed;
            background-color: #DDE2E5;
        }

        &[disabled] ~ .checkbox__legend {
            padding: 0 0 0 12px;
            margin: 0;
            cursor: not-allowed;
            color: #DDE2E5;
        }
    }

    &__state {
        position: relative;
        border: 1px solid #DDE2E5;
        box-sizing: border-box;
        border-radius: 4px;
        width: 28px;
        height: 28px;
    
        flex-shrink: 0;
        flex-grow: 0;
    }

    &__legend {
        margin: 0 0 0 12px;
        font-size: 16px;
        line-height: 24px;
    }
    
    &__icon {
        position: absolute;
        display: none;
        width: 15px;
        height: 13px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
