.main[data-open] {
	display: none;
}

.main-content {
	background-color: #F9FAFC;
}

.container-block {
	display: grid;
	justify-content: center;
	align-items: center;
	column-gap: 8px;
	grid-template-columns: repeat(2, 172px);

	@media (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;
		padding: 16px 0;
		max-width: 1140px;
		margin: auto;
	}

	&__item {
		width: 164px;
		height: 231px;
		background-color: #fff;
		box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
		border-radius: 8px;
		margin: 8px;
		display: flex;
		flex-direction: column;
		text-decoration: none;
		color:#212429;

		@media (min-width: 768px) {
			width: 240px;
			height: 251px;
			margin: auto;
		}

		@media (min-width: 1024px) {
			width: 320px;
			height: 350px;
			margin: auto;
		}
	}

	&__item-component {
		flex-grow: 1;
		margin: 8px;
		display: flex;
    	align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		pointer-events: none;
	}

	&__item-title {
		border-top: 1px solid #DDE2E5;
		height: 66px;
		text-align: center;

		@media (min-width: 768px) {
			border-top: none;
		}
	}

	&__item-name {
		padding-top: 12px;
		font-size: 16px;
		line-height: 24px;
		color: #212429;

		@media (min-width: 768px) {
			font-size: 24px;
			line-height: 28px;		
		}
	}
    
	&__item-type {
		font-size: 14px;
		line-height: 22px;
		color: #ACB5BD;
	}

}
