#burger-menu-open {
    margin: 50px;
    width: 24px;
    height: 24px;
}

#burger-menu {
    position: absolute;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: lightgray;
    transform: translateX(-309px);
    transition: transform 1s ease-in-out;

    &[data-open] #burger-menu-close {
        margin: 50px;
        width: 20px;
        height: 20px;
    }

    &[data-open] {
        position: absolute;
        transform: translateX(-9px)
    }

    &:not([data-open]) #burger-menu-close {
        display: none;
    }
}

