.menu_open-button {
    margin: 50px;
    width: 24px;
    height: 24px;
}

.menu {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #F9FAFC;

    &[data-open] .menu_close-button {
        position: absolute;
        top: 16px;
        left: 12px;
        width: 32px;
        height: 32px;
    }

    &[data-open] {
        position: absolute;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    &:not([data-open]) .menu_close-button {
        display: none;
    }
}

