html[data-theme-dark] {
	background-color: #212429;

	.main-content {
		background-color:#495057;
        color: #86888b;
	}

    .container-block__item {
        color: #86888b;
        background-color: #212429;
    }

    .container-block__item-name {
        color: #f8f9fa;
    }

    .menu__mode-toggler path {
        fill: #acb5bd;
    }

    .menu__mode-toggler rect,
    .menu__mode-toggler path ,
    .header__logo rect,
    .header__logo path {
        fill: #f8f9fa;
    }

    .header__text {
        color: #86888b;
    }

    .header__menu-item[active] {
        color: #f8f9fa;
        border-color: #f8f9fa;
    }

    .tooltip__circle-around {
        border-color: #f8f9fa;
    }

    .tooltip__question-mark {
        border-color: #f8f9fa #f8f9fa rgba(0,0,0,0);;
    }

    .tooltip__question-mark:before {
        background: #f8f9fa;
    }   
    
    .about-block {
        color: #86888b;
    }

    .template,
    .menu ,
    .template__footer ,
    .menu__content {
        color: #86888b;        
        background-color: #212429;

    }

    .menu__filter-item,
    .component__header,
    .component__code-tab[active] {
        color: #f8f9fa;
        border-color: #f8f9fa;
    }

    .template__main {
        color: #86888b;
        background-color: #495057;

    }

    .component__code-container {
        background-color: #f8f9fa;
    }
}
