.input {
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;

    &__field {
        // height: 56px;
        // font-size: 20px;
        // padding-left: 24px;
        // border-radius: 16px;

        height: var(--input-height);
        font-size: var(--input-font-size);
        padding-left: var(--input-padding);
        padding-right: var(--input-padding);
        border-radius: var(--input-border-radius);

        width: 100%;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;        
        border: var(--input-border);
        box-sizing: border-box;

        &::placeholder {
            text-transform: capitalize;
            color: var(--input-placeholder-color);
        }

        &[disabled] {
            cursor: not-allowed;

            &::placeholder {
                color: var(--input-disabled);
            }
        }

        &:not(:focus) {
            padding-right: var(--input-padding-focus);
        }

        &:not(:focus):invalid{
            border: var(--input-border-invalid);
            box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);

            & ~ .input__state {
                background-image: url('../../../assets/images/svg/alert.svg');
            }
        }

        &:valid {
            border: var(--input-border);
            box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);
        }

        &:placeholder-shown {
            border: var(--input-border);

            & ~ .input__state {
                background-image: none;
            }
        }

        &:focus:not(:invalid) {
            border: var(--input-border-valid);
            box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);  
        }

        &:not(:focus):not(:placeholder-shown):valid ~ .input__state {
            background-image: url('../../../assets/images/svg/verified.svg');
        }
    }

    &__label {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        color: var(--input-disabled);
    }

    &__state {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 8px;
        top: 26px;
    }
}





